<div class="navigation-bar">
    <span class="title">{{ problem.title }}</span>
</div>
<div class="container">
    <div class="problem panel">
        <div class="content" [innerHTML]="problem.description"></div>
    </div>
    <div class="panel">
        <div #editordiv class="code-editor"></div>
    </div>
</div>
<div class="report">
    <div class="table" style="width: 100%; height: 100%">
        <div><button (click)="onSubmit()">Submit</button></div>
        <div class="answer" style="width: 60%; height: 100%; overflow: scroll">
            <div *ngFor="#item of answer">
                <span>Test Case: </span>
                <span>Expectation: {{ item.expectation }}</span>
                <span>Result: {{ item.result }}</span>
                <span>Pass: {{ item.pass }}</span>
            </div>
            <div>{{ error }}</div>
        </div>
    </div>
</div>