body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

.container {
    max-width: 1000px;
    margin: 60px auto 0px;
}

.code-editor {
    width: 100%;
    min-height: 400px;
}

.ui.segment.code-editor {
    background-color: #272822;
}

div.ui.segments {
    border-radius: 0;
}

.ui.button {
    border-radius: 0;
}

.ui.feed > .event > .label img {
    border-radius: 3px;
}

.ui.left.sidebar {
    top: 46px;
}