body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

.navigation-bar {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #33485F;
}

.navigation-bar .title {
    margin: 15px;
    color: white;
    font-size: 18px;
    display: inline-block;
}

.container {
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.panel {
    display: table-cell;
    position: relative;
    width: 50%;
    resize: horizontal;
}

.code-editor {
    width: 100%;
    height: 100%;
}

.panel.problem {
    padding: 10px;
}

button {
    float: left;
    min-width: 150px;
    max-width: 250px;
    display: block;
    margin: 1em;
    padding: 1em 2em;
    cursor: pointer;
}

.report {
    background-color: #33485F;
    position: fixed;
    height: 200px;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.table {
    display: table;
}

.table > div {
    display: table-cell;
}

.answer {
    width: 60%;
    color: white;
}
